h1.title {
    font-family: 'Rubik', sans-serif;
    font-size: 36px;
    font-weight: 900;
    padding: 25px 75px;
    text-align: center;
    color: #ffffff;
    letter-spacing: 8px;
    -webkit-text-stroke: 1.2px;
    stroke-width: 1.2px;
    -webkit-text-stroke-color: #000000;
    stroke: #000000;
    text-transform: uppercase;
    max-width: 100%;
}
.row {
    row-gap: 50px;
}

.movies-grid {
    padding: 25px 75px;
}

.movie-title {
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    padding-top: 15px
}
.movie-rating {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}
.fa-xs {
    margin-right: 5px;
}

.movie-extract {
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
}

.btn {
    font-family: 'Poppins', sans-serif !important;
    font-weight: 500 !important;
    border-radius: 0 !important;
    display: flex;
    justify-content: center;
    border: solid !important;
    border-width: 1px;
}

.show {
    display: block;
}

article.movie-detail {
    padding: 25px;
    background-color: #ECECEC;
    box-shadow: 0 4px 6px rgb(0 0 0 / 40%);
    transition:  all 0.5s ease-in-out;
}

@media (max-width: 768px) {
    h1.title {
        font-family: 'Rubik', sans-serif;
        font-size: 36px;
        padding: 25px 10px;
        }
        .movies-grid {
            padding: 25px 10px;
            text-align: center;
        }
        
}

